@define-color background #282a36;

@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
  border: none;
  border-radius: 0;
  /*font-family: "Hack", "Noto Color Emoji", sans-serif;*/
  font-size: 18px;
  /*font-weight: bold;*/
  min-height: 0;
}

window#waybar {
  background: @background;
  /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
  color: @foreground;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @foreground;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: @current-line;
  border-bottom: 3px solid @foreground;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  background: @comment;
  border-bottom: 3px solid @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 10px;
  margin: 0 5px;
}

#clock {
  /*background-color: #64727D;*/
  color: @foreground;
  font-weight: bold;
}

#battery {
  /*background-color: #000000;*/
  color: @foreground;
}

#battery.charging {
  /*background-color: #000000;*/
  color: @foreground;
}

@keyframes blink {
  to {
    /*background-color: #ffffff;*/
    color: @background;
  }
}

#battery.critical:not(.charging) {
  background: @red;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  /*background: #2ecc71;*/
  color: @foreground;
}

#memory {
  /*background: #9b59b6;*/
  color: @foreground;
}

#backlight {
  /*background: #90b1b1;*/
  color: @foreground;
}

#network {
  /*background: #2980b9;*/
  color: @foreground;
}

#network.disconnected {
  /*background: #f53c3c;*/
  color: @foreground;
}

#pulseaudio {
  /*background: #000000;*/
  color: @foreground;
}

#pulseaudio.muted {
  /*background: #000000;*/
  color: @foreground;
}

#custom-media {
  background: @green;
  color: @background;
}

.custom-spotify {
  background: @green;
}

.custom-vlc {
  background: @orange;
}

#temperature {
  background: @orange;
}

#temperature.critical {
  background: @red;
}

#tray {
  /*background-color: #2980b9;*/
  color: @foreground;
}

#idle_inhibitor {
  background-color: @comment;
}

#idle_inhibitor.activated {
  background-color: @foreground;
  color: @background;
}
