name: Deploy github pages
on:
  push:
    branches:
      - main
jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    secrets:
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
  build-and-deploy:
    runs-on: ubuntu-latest
    needs: ci
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: nix build
        run: nix build ./deploy#emacs-takeokunn-org
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./result
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
