name: update
on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * *
    - cron: 0 20 * * *
jobs:
  nix-update:
    name: Update lockfile
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_config_global: true
      - uses: actions/checkout@v6
      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Run flake update
        run: nix flake update
      - name: Run fmt
        run: nix fmt
      - name: Commit changes
        run: |
          git add .
          git commit -S -m "Update lockfile"
          git push origin HEAD
